@import "navBar";
@import "card";


.liSocial {
    list-style-type: none;
}

.green {
    background-color: rgb(60, 139, 60) !important;
    * {
        color: white;
    }
}

.orange {
    background-color: orange !important;
    * {
        color: white;
    }
}
.red {
    background-color: rgb(167, 80, 80) !important;
    * {
        color: white;
    }
}
